body{
    background-color: #E5E5E5;

}

.logo {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#textoEncriptado { 
    
    position: absolute;
    width: 577px;
    height: auto;
    left: 240px;
    top: 168px;
    resize:none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;

    background: none;
    border: none;
}

#textoEncriptado::placeholder{
    color: #0A3871;
}

#textoEncriptado:{
    border: none;
    resize: vertical;
}

#textoDesencriptado {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    resize:none;
    /* White */
    background: #FFFFFF;

    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.cajareq{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    height: 18px;
    left: 240px;
    top: 851px;
}



.requiere {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 18px;
    left: 240px;
    top: 851px;
    color:#495057;
}


.botones {
    /* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;
}

.boton1 {
    /* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 24px;
gap: 8px;
text-align: center;
width: 223px;
height: 67px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.boton1 p {
    /* Button */
width: 100%;
/* Auto layout */
color: white;
text-align: center;
}

.boton2 {
    /* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 223px;
height: 67px;

/* Light gray */
background: #D8DFE8;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.boton2 p {
 /* Button */
 width: 100%;
 /* Auto layout */
 color: #0A3871;
 text-align: center;
    
}

.boton3 {
    /* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 223px;
height: 67px;

/* Light gray */
background: #ffffff;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.boton3 p {
     /* Button */
 width: 100%;
 /* Auto layout */
 color: #031a35;
 text-align: center;
    
}